.popup__poem-title{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #6BA97F;
  font-family: 'Cormorant SC',Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
}
