.first-page__button {
  margin: 28px 0 109px;
  width: 220px;
  height: 45px;
  align-self: center;
  border: none;
  border-radius: 59px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Montserrat';
}

.first-page__button:hover {
  opacity: 0.8;
  transform: scale(1.05, 1.05);
}
