.footer__wrapper{
  width:calc(100% - (108px * 2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1224px;
}

@media screen and (min-width: 375px) and (max-width: 1044px) {
  .footer__wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
