.skull {
  position: relative;
  align-self: center;
}

.skull:hover .skull__top {
  transform: translate(0px, 15px);
}

.skull:hover .skull__bottom {
  transform: translate(0px, -15px);
}

@media screen and (min-width: 375px) and (max-width: 1044px) {
  .skull {
    width: 346px;
    height: 446px;
  }
}

@media screen and (min-width: 1044px) {
  .skull {
    width: 390px;
    height: 502px;
  }
}
